.App {
  text-align: center;
}

.App-intro {
  font-size: medium;
  padding: 20px 70px;
}
.ReactVirtualized__Grid {
  outline: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
