#main {
    .tab-content {
        margin-top: 20px;
    }
    .nav-link.active {
        background-color: #6c757d;
        color: #fff;
    }
    .jumbotron {
        padding: 1rem;
        text-align: left;
        margin-bottom: 20px;
    }
}