.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    display: inline-block;
}

.App-header {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-right: 20px;
}

.App-header__left {
    display: flex;
    align-items: flex-end;
}